.dropage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dropbox {
    position: relative;
    top: -10%;
    width: 30vw;
    height: 30vw;
    min-width: 15rem;
    min-height: 15rem;
    background-color: black;
}
